<h3>Message depuis BileMo !</h3>
<p>
	<b>{{ name }}</b> vous a envoyé le message suivant,<br>
	au sujet de : <b>{{ subject }}</b>,<br><br>
	{{ message }}
<p>

<p>
	<b>Cordialement via le formulaire de contact.</b>
</p>
